<%= form_for @bookmark do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :url %>:
  <%= f.text_field :url %>

  <%= f.label :description %>:
  <%= f.text_field :description %>

  <%= f.label :category_id %>
  <%= f.select :category_id, Category.where(user_id: current_user.id).pluck(:name, :id) %>

  <%= f.submit %>
<% end %>
<% @bookmarks.each do |bookmark| %>
<%= link_to "Edit", edit_bookmark_path(bookmark), method: :get %>
<%= link_to "Delete", bookmark_path(bookmark), method: :delete %>
<%= Category.find_by(id: bookmark.category_id).name %>
<span id="blue"><a  href="<%= bookmark.url %>"target="blank"><%= bookmark.title %></A> </span>-
<%= bookmark.description %><BR>
<% end %>
